title: Brain Dump
email: contact@bhagat.me
author: Parwinder Bhagat
description: >- # this means to ignore newlines until "baseurl:"
  Another blog by a software engineer. I write primarily about Javascript! All views expressed here are mine.
baseurl: "/blog" # the subpath of your site, e.g. /blog
url: "https://bhagat.me" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: bhagatparwinder
github_username: bhagatparwinder
phone: 312.350.2425
google_analytics: UA-48748523-2

# Build settings
theme: minima
plugins:
  - jekyll-feed
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
